.login {
    top: 10%;
    right: 40%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.signup_form {
    top: 10%;
    right: 40%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.mock_login {
}

.facebook_login {
}

.google_login {
}

.custom_login {
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: space-between;
    padding-top: 10px;
}

.custom_button {
    width: 335px;
    height: 45px;
}

.facebook_button {
    width: 335px;
    height: 45px;
    border-radius: 4px;
    background: #3b5998;
    color: white;
    border: 0px transparent;
    text-align: center;
    margin: 5px;
}

.google_button {
    width: 335px;
    height: 45px;
    border-radius: 0px;
    background: #c71e3a;
    color: white;
    text-align: center;
    margin: 5px;
}

.mock_button {
    width: 335px;
    height: 45px;
    border-radius: 4px;
    background: white;
    text-align: center;
    margin: 5px;
}
