.login {
    top: 40%;
    right: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.mock_login {
}

.facebook_login {
}

.google_login {
}

.facebook_button {
    width: 235px;
    height: 35px;
    border-radius: 4px;
    background: #3b5998;
    color: white;
    border: 0px transparent;
    text-align: center;
    margin: 5px;
}
