.notification_component {
}

.notification_item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
}

.notification_actions {
    display: flex;
    justify-content: space-around;
}
