.app {
    display: flex;
    flex-direction: column;
}

.middle_area {
    display: flex;
    flex-direction: row;
}

.banner_component {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.main_component {
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-right: 10rem;
    width: 40%;
    z-index: 0;
    position: relative;
}

.left_component {
    width: 20%;
}

.right_component {
    z-index: 0;
    width: 45%;
    margin-top: 3rem;
    margin-bottom: 4rem;
    position: relative;
}

.top_component {
    margin-left: 8%;
    margin-right: 15%;
    margin-top: 2rem;
    width: 80%;
    height: 20%;
    z-index: 0;
}

.context_actions {
    justify-content: center;
}
