.app {
    display: flex;
    flex-direction: column;
}

.middle_area {
    display: flex;
    flex-direction: row;
}

.banner_component {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.main_component {
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 45%;
    z-index: 0;
    position: absolute;
}

.left_component {
    width: 15%;
}

.right_component {
    z-index: 0;
    width: 35%;
    left: 62%;
    margin-top: 3rem;
    margin-bottom: 4rem;
    position: absolute;
    height: 100%;
    overflow: hidden;
}

.top_component {
    margin-left: 8%;
    margin-right: 15%;
    margin-top: 2rem;
    width: 80%;
    height: 20%;
    z-index: 0;
}
