.section_divider_small {
    width: 450px;
}
.book_icon_small {
    display: table-cell;
    width: 20%;
    padding-left: 60px;
    transform: translate(0%, 10%);
}

.book_details {
    display: table-cell;
    width: 63%;
    transform: translate(0%, -15%);
}

.customer_reviews {
    transform: translate(-20%, 0%);
}
.review_buttons {
    transform: translate(-1.5%, 0%);
}

.list_book_component {
}

.filter_category {
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 35%;
    z-index: 1;
}

.book_preview {
    margin-top: 65px;
}

.book_preview img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 4px;
}

.book_preview .details {
    padding-top: 25px;
    padding-bottom: 15px;

    font-size: 16px;
}

.book_preview .description {
    padding-bottom: 15px;
    margin-top: 15px;
}
