.section_divider_small {
   width: 450px;
}
.book_icon_small {
  display:table-cell;
  width:33%;
  padding-left: 60px;
  transform: translate(0%, 10%)
}

.book_details {
  display:table-cell;
  width:53%;
  transform: translate(0%, -15%)
}