.list_bookmarks_component {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
    height: 30%;
}
.bookmark {
    display: flex;
    flex-direction: row;
}

.bookmark:hover {
    cursor: pointer;
}

.bookmarks_scroll_area {
    height: 10rem;
    overflow: auto;
}
