.section_divider_small {
    width: 550px;
}
.book_icon_small {
    display: table-cell;
    padding-left: 60px;
}

.book_icon_small img {
    width: 128px;
}

.book_details {
    display: table-cell;
    vertical-align: super;
    width: 35%;
}

.book_description {
}

.customer_reviews {
    transform: translate(-20%, 0%);
}
.review_buttons {
    transform: translate(-1.5%, 0%);
}

.list_book_component {
}

.book_preview {
    margin-top: 65px;
}

.book_preview img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 4px;
}

.book_preview .details {
    padding-top: 25px;
    padding-bottom: 15px;

    font-size: 16px;
}

.book_preview .description {
    padding-bottom: 15px;
    margin-top: 15px;
}

.book_title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: left;
}
