.list_spaces_component {
    padding-top: 2rem;
    padding-right: 5rem;
}

.space_holder {
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
}

.space_description {
    width: 80%;
}
.space_description:hover {
    cursor: pointer;
}
.space_image {
    margin-left: 10%;
    position: relative;
    margin-top: 0%;
}
.space_image:hover {
    cursor: pointer;
}

.space_actions {
    margin-left: 0%;
}
.space_actions a {
    padding-left: 30px;
}
.space_statistics {
    padding-top: 30px;
}
